commands:
  01attach-volume:
    command: |
      if ! grep -qs '/dev/sdh' /proc/mounts; then
        mkfs -t ext3 /dev/sdh
        mkdir /media/ebs_volume
        mount /dev/sdh /media/ebs_volume
      fi
option_settings:
   - namespace: aws:autoscaling:launchconfiguration
     option_name: BlockDeviceMappings
     value: /dev/sdh=:100
