commands:
  000create-my-user:
    command: |
      useradd holyjak --home-dir /home/holyjak --create-home --groups  root
      mkdir /home/holyjak/.ssh
      echo 'ssh-rsa AAAAB3NzaC2yc2EAAAADAQABAAABAQC6LfBJGqsxwyhHY7jDnQGtq7cmk+WXYjsnKSoy/xt6kroWgbEaFvgRVXIzcS9sbuu8PvYbIpsHmOStFvmJzbRNQk+zlqE85WLVkcUwi8fH0hs8tJwMyDJ4kR88s22n80L3RN7uBAaD9E10wEHEmng4xgyT2WqI7GmlK7+bZWWA5E3WaqVyFgihZ8ju6/j+H5uL8tEGOUJxRY087syHghPjhFxSC5Vjkd0lBIAtLx41TbejhQOXv+VWZj7nc18sW6n+3u2cURgmxWIae/YdK2ZKZVLf+dDg7D5AYj5t6hyyT+1ZTXQ89ZpClwxPy7qsRg+dXaxrf9+gP8IqnXYmp2oR jakub.holy@iterate.no' > /home/holyjak/.ssh/authorized_keys
      chmod -R go-rwx /home/holyjak/.ssh
      chown -R holyjak /home/holyjak/.ssh
    test: sh -c "! egrep '^holyjak:' /etc/passwd"
  001sudo-authorize:
      command: |
        echo 'holyjak ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/holyjak
        chown root:root /etc/sudoers.d/*
        chmod 0440 /etc/sudoers.d/*
      test: test ! -f /etc/sudoers.d/holyjak
  01format-volume:
    command: mkfs -t ext3 /dev/sdh
    test: file -sL /dev/sdh | grep -v 'ext3 filesystem'
    # ^ prints '/dev/sdh: data' if not formatted
  02attach-volume:
    # Note: The volume may be renamed by the Kernel, e.g. sdh -> xvdh but
    #       /dev/ will then contain a symlink from the old to the new name
    command: |
      mkdir /media/ebs_volume
      mount /dev/sdh /media/ebs_volume
    test: sh -c "! grep -qs '/media/ebs_volume' /proc/mounts"
option_settings:
   - namespace: aws:autoscaling:launchconfiguration
     option_name: BlockDeviceMappings
     value: /dev/sdh=:100
